footer {
    background-color: $color-dark;
    color: $color-white;
    padding: 3rem 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p {
        margin: 0 2rem;
        font-size: 1.8rem;
    }
    a {
        color: $color-white;
        margin: 0 1rem;
        i {
            font-size: 3rem;
            transition: all 0.1s;
            &:hover {
                transform: scale(1.2);
                color: $color-primary;
            }
        }
    }
}
