// dimensions
$max-width: 1200px;

// colors
$color-primary: #ffd523;
$color-secondary: #595260;
$color-light: #b2b1b9;
$color-dark: #2c2e43;
$color-white: #eee;
$color-black: #222;
$bg-img: url("../img/bg.jpeg");

:root {
    --animate-delay: 3s;
}
